<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.xf.service.floatingview" android:versionCode="2" android:versionName="2.0">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<service android:name=".Services.FloatingViewService" android:exported="false" />
	<application android:label="Floating View" android:icon="@mipmap/fv_icon"></application>
</manifest>